body {
    margin: 0;
}
main {
    width: 100%;
    background-color: black;
    color: white;
    padding-bottom: 100px;
}
#maintitle {
    width: 90%;
    margin: auto;
    padding-top: 50px;
    height: 200px;
}
#maintitle h1 {
    font-size: 50px;
    margin-top: 0;
    margin-bottom: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
#maintitle p {
    margin-top: 10px;
    font-size: 20px;
    font-family: Helvetica, Helvetica, sans-serif;
}
#artwork {
    width: 90%;
    margin: auto auto -10px auto;
    height: calc(100vh - 250px);
    object-fit: contain;
    display: block;
}

#description {
    padding: 20px;
    width: calc(100% - 40px);
    margin: 0 auto;
    background-color: white;
    z-index: 10;
    color: black;
}
#description h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}
#description p {
    font-family: Helvetica, Helvetica, sans-serif;
}
#mapimage {
    width: 100%;
    height: 300px;
    object-fit: cover;
}
#mapsection {
    padding: 0 20px;
    width: calc(100% - 40px);
    margin: -50px auto 0 auto;
}
#mapsection h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}
#mapsection p {
    font-family: Helvetica, Helvetica, sans-serif;
}
#mapsection a {
    background-color: white;
    color: black;
    border-radius: 20px;
    text-decoration: none;
    padding: 10px 20px;
    display: block;
    width: fit-content;
    text-align: center;
    font-family: Helvetica, Helvetica, sans-serif;
}
#mapcallout {
    padding: 20px;
    width: calc(90% - 40px);
    margin: 30px auto;
    background-color: white;
    border-radius: 20px;
    z-index: 10;
    color: black;
}
#mapcallout h3 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0;
}
#mapcallout p {
    font-family: Helvetica, Helvetica, sans-serif;
}
#mapcallout a {
    font-family: Helvetica, Helvetica, sans-serif;
    color: black;
    display: block;
    margin-bottom: 5px;
}

#coversection {
    padding: 0 20px;
    width: calc(100% - 40px);
    margin: 40px auto;
}
#coversection h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}
#coversection p {
    font-family: Helvetica, Helvetica, sans-serif;
}
#coversection a {
    background-color: white;
    color: black;
    border-radius: 20px;
    text-decoration: none;
    padding: 10px 20px;
    display: block;
    width: fit-content;
    text-align: center;
    font-family: Helvetica, Helvetica, sans-serif;
}
footer {
    z-index: 100;
    position: fixed;
    height: fit-content;
    bottom: 0;
    left: 0;
    width: calc(100% - 40px);
    padding: 30px 20px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
footer a {
    background-color: black;
    color: white;
    border-radius: 20px;
    text-decoration: none;
    padding: 10px 20px;
    display: block;
    width: calc(50% - 45px);
    text-align: center;
    font-family: Helvetica, Helvetica, sans-serif;
}